.team-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F6F5F4;
    border-radius: 8px;
    min-height: 353px;
    height: 100%;

    .content-container-flipped{
        display: none;
        border-radius: 8px;
    }

    .content-container{
        padding: 40px 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .position{
            margin-bottom: 59px;
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            line-height: 31.2px;
        }
    
        .image{
            margin-bottom: 16px;
            border-radius: 50%;
        }

        .name{
            font-weight: 700;
            font-size: 14px;
            line-height: 18.2px;
            
        }



        // !flipped
        &:hover{
            .content-container{
                display: none;
            }
            .content-container-flipped{
                padding: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: url('../../../images/gradient-flipped.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: 0;
                overflow: hidden;

                .flipped-name{
                    margin-bottom: 24px;
                }

                .flipped-description{
                    margin-bottom: 8px;
                }
            }
        }

}