
.media-and-content{
    padding-bottom: 106px;
    display: flex;
    gap: 62px;
    .container{
        .row{
            align-items: center;
            justify-content: center;
            display: flex;

        }
    }

}

