
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
        .text {
            color: #FF8A00;
            font-family: Lato;
            font-weight: 600;
            font-size: 14px;
            line-height:  18.2px;
            margin-bottom: 24px;
        }
    
        .title{
            font-weight: 700;
            font-size: 44px;
            line-height: 48.4px;
            margin-bottom: 40px;
        }
    

}