
.teamCard-organism{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 40px;

    .header{
        width: 100vw;
        text-align: center;
    }

    .row{
        row-gap: 24px;
    }

}
