
.teamCard-organism{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 40px;

    .row{
        row-gap: 24px;
    }

    .social-icons{
        display: flex;
        gap: 25px;
        cursor: pointer;
    }

}
