
.accordion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 660px;

    .item{
        margin-bottom: 31.45px;
        border-bottom: 1px solid #E5641F;

        .accordion-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 24px;
            line-height:31.2px;
        }

        .content{
            max-height: 0;
            overflow: hidden;
            // transition: all 0.5s cubic-bezier(0,1,0,1);
            // transition: .5s;
            // -webkit-transition: height 400ms ease;
            // transition: height 400ms ease-in-out;
        }

        .content.show{
            max-height: 1000px;
            // max-height:  9999px;
            // transition:  all 0.5s cubic-bezier(1,0,1,0);
            // transition: .5s;
            margin-bottom: 46.55px;

        }

    }

    
}
